<!DOCTYPE html>
<html>
  <head>
    <title>Erick Valente - Portfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <meta name="keywords" content="developer, dev, rails, ruby, web, back-end,
    back end, backend, front-end, front end, fronted, fullstack, full-stack,
    full stack, desenvolvedor, programador">

    <meta name="description" content="Erick Valente - Fullstack Developer
    Ruby on Rails">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="icon" type="image/x-icon" href="https://i.imgur.com/k3DAA4O.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
      <%= yield %>
  </body>
</html>
